@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
	--dark: #0D0D2B;	
	--white:#FFFFFF;
	--white-rgb: 255, 255, 255;
	--blue: #3671E9;
	--purple: #2B076E;
	--purple-rgb: 43, 7, 110;
}

body {
	font-family: 'Rubik', sans-serif;
	background: var(--dark);
	color: var(--white);
}

.header {
	max-width: 1202px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;
}

.nav {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.nav-item {
	margin-left: 32px;
}

.nav-item--login {
	margin-left: 56px;
	padding-right: 24px;
	border-right: 1px solid rgba(242, 242, 242, 0.3);
	font-weight: 500;
}

.nav-item--register {
	margin-left: 24px;
}

.nav-link {
	color: var(--white);
	font-size: 16px;
	text-decoration: none;
	transition: .2s ease color;
}

.nav-link:hover {
	color: var(--blue);
}

.nav-link--register {
	background-color: var(--blue);
	padding: 14px 32px;
	border-radius: 32px;
	font-weight: 500;
	transition: .2s ease background-color;
}

.nav-link--register:hover {
	color: var(--white);
	background-color: var(--purple);
}

.wrapper {
	max-width: 1202px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

.main {
	display: flex;
	align-items: center;
	margin-top: 61px;
}

.main-text {
	flex: 0 0 600px;
}

.main-text__sale {
	background-color: rgba(var(--white-rgb), 0.1);
	display: inline-block;
	padding: 10px 12px 8px 4px;
	border-radius: 32px;
	margin: 0;
}

.main-text__sale span {
	background-color: var(--white);
	color: var(--dark);
	border-radius: 32px;
	padding: 6px 19px;
	margin-right: 13px;
	font-weight: 500;
}

.main-text__title {
	font-size: 64px;
	font-weight: 700;
	margin-top: 26px;
	line-height: 1.2;
	margin-bottom: 24px;
}

.main-text__description {
	color: #E0E0E0;
	line-height: 1.6;
	min-width: 400px;
	margin-bottom: 57px;
}

.main-img {
	flex-grow: 1;
}

.main-img__image {
	width: 100%;
}

.main-text__link {

}

.main-text__link {
	color: var(--white);
	background-color: var(--blue);
	padding: 20px 30px;
	border-radius: 32px;
	font-weight: 500;
	transition: .2s ease background-color;
	text-decoration: none;

}

.main-text__link:hover {
	background-color: var(--purple);
}

.stat {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 200px;
	padding-bottom: 196px;
}

.stat-item {
	display: flex;
	align-items: center;
}

.stat-item-icon {
	background-color: rgba(var(--white-rgb), 0.1);
	flex: 0 0 80px;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	margin-right: 24px;
	background-repeat: no-repeat;
	background-position: center center;

}

.stat-item-icon-table {
	background-image: url(../img/bar\ Chart.svg) 
}

.stat-item-icon-people {
	background-image: url(../img/person.svg) 
}

.stat-item-icon-earth {
	background-image: url(../img/earth.svg) 
}
.stat-item-text {
	color: #E0E0E0;
}

.stat-item-text span {
	display: block;
	color: var(--white);
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 15px;

}

.text {
	text-align: center;
	padding-bottom: 200px;
}

.text-title {
	font-size: 40px;
	font-weight: 700;
}

.text-description {
	color: E0E0E0;
	font-size: 18px;
	line-height: 1.5;
	min-width: 630px;
	margin: 0 auto;
}

.calc-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FBFCFE;
	border-radius: 16px 16px 0 0;
	max-width: 942px;
	margin: 0 auto;
	padding: 15px 30px;
	box-sizing: border-box;
}

.calc-head-input {
	font-size: 20px;
	color: var(--dark);
	border: none;
	border-bottom: 1px solid #E0E0E0;
	flex-grow: 1;
}

.calc-head-input::placeholder {
	color: var(--dark);
}

.calc-head-select {
	font-size: 20px;
	color: var(--dark);
	border: none;
	border-bottom: 1px solid #E0E0E0;
	flex: 0 0 200px;
	margin-right: 48px;
	margin-left: 48px;
	appearance: none;
	background-image: url(../img/arrow\ Down.svg);
	background-repeat: no-repeat;
	background-position: 98% 2px;
}

.calc-head-btn {
	font-size: 18px;
	color: var(--white);
	background-color: var(--blue);
	padding: 20px 0px;
	border-radius: 32px;
	font-weight: 500;
	transition: .2s ease background-color;
	text-decoration: none;
	border: none;
	flex: 0 0 146px;

}

.calc-head-btn:hover {
	background-color: var(--purple);
}

.page-light {
	background-color: #F8F9FB;
	color: var(--dark);
	padding-bottom: 100px;
}

.page-light-title {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	min-width: 741px;
	margin: 0 auto;
	line-height: 1.5;
}


.calc-foot {
	max-width: 942px;
	margin: 0 auto;
	padding: 15px 30px;
	background-color: var(--white);
	border-radius: 0 0 16px 16px;
	box-sizing: border-box;
	margin-bottom: 110px;
}

.calc-foot-title {
	color: var(--blue);
	font-size: 16px;
	font-weight: 500;
}

.calc-foot-total {
	font-size: 32px;
	font-weight: 700;
	color: #000;
}

.calc-foot-total span {
	color: var(--blue);
}

.calc-foot-description {
	color: #828282;
}

.crypto {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
	margin-top: 57px;
}

.crypto-item {
	background-color: var(--white);
	color: var(--dark);
	border-radius: 16px;	
	flex: 0 0 31%;
	padding: 52px 30px 47px;
	box-sizing: border-box;
	transition: .2s ease background-color;
}

.crypto-item-title {
	font-size: 32px;
	font-weight: 700;
	margin-top: 47px;
	margin-bottom: 25px;
}

.crypto-item-title sup {
	color: #BDBDBD;
	font-size: 18px;
	font-weight: 500;
}

.crypto-item-description {
	font-size: 16px;
	color: #828282;
	line-height: 1.6;
	transition: .2s ease color;
}
.crypto-item:hover .crypto-item-description {
	color: var(--white);
}

.crypto-item-btn {
	background-color: var(--white);
	font-size: 18px;
	color: var(--white);
	text-decoration: none;
	border-radius: 32px;
	padding: 0px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 205px;
	margin: 0 auto;
	transition: .2s ease background-color;
}

.crypto-item:hover .crypto-item-btn {
	background-color: var(--blue);
}

.crypto-item-btn-text {
	font-size: 18px;
	font-weight: 500;
	width: 0;
	transition: .5s ease width,
}

.crypto-item:hover .crypto-item-btn-text {
	width: 133px;
}

.crypto-item-btn-icon {
	display: block;
	background-color: var(--white);
	width: 64px;
	height: 64px;
	border-radius: 100%;
	background-image: url(../img/arrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
	border: 2px solid rgba(var(--purple-rgb), 0.2);
	transform: scale(1);
	transition: .2s ease border, .2s ease transform;
}
.crypto-item:hover {
	background-color: var(--purple);
	color: var(--white);
}

.crypto-item:hover .crypto-item-btn-icon {
	border: 2px solid var(--white-rgb);
	transform: scale(0.5);
}

.page-gradient {
	background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
	padding-top: 88px;
	padding-bottom: 88px;
}

.form {
	background-color: var(--blue);
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	padding: 54px 50px;
}

.form-text {
	flex-grow: 1;
}

.form-text-title {
	margin-top: 0;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 27px;
}

.form-text-description {
	font-size: 16px;
	margin-bottom: 0;
	max-width: 348px;
	line-height: 1.5;
}

.form-letter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 566px;

}

.form-letter-input {
	font-size: 16px;
	border: none;
	border-bottom: 1px solid var(--white);
	background-color: transparent;
	color: var(--white);
	width: 100%;
	margin-right: 40px;
	padding: 10px 0;
}

.form-letter-input::placeholder {
	color: var(--white);
}

.form-letter-btn {
	border: none;
	background-color: var(--white);
	color: var(--dark);
	font-size: 18px;
	font-weight: 500;
	padding: 18px 32px;
	border-radius: 32px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1202px;
	margin: 0 auto;
	padding-bottom: 60px 15px;
}

.footer-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.footer-list-item {
	margin-left: 32px;
}